#elem1 {
	width: 300px;
	height: 100px;
	border: 1px solid red;
	border-radius: 10px;
}
#elem2 {
	border-radius: 20px;
	width: 300px;
	height: 100px;
	background-color: mediumaquamarine;
}
#elem3 {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: 1px solid red;
}


